.blog-footer {
  background-image: url("../img/backgrounds/indots-footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 3.75rem;
  padding-bottom: 4.0625rem;
}

.footer-link-anchor {
  outline: 0;
  padding: 10px 0;
}

.footer-email {
  color: #735d72;
  font-size: 12px;
}

.footer-social-network-icon {
  height: 19px;
  width: 19px;
}

.footer-link {
  color: #838383;
  font-size: 0.75rem;
  letter-spacing: 0.9px;
}

.footer-link:hover {
  color: #735d72;
  font-weight: 700;
}

.footer-div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1026px;
  width: 90%;
}

.footer-right-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.footer-section-links-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.footer-column-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-right: 60px;
}

.footer-logo {
  width: 13.125rem;
}

.footer-left-column {
  -ms-flex-preferred-size: 290px;
      flex-basis: 290px;
}

.footer-icons-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.footer-copyright-info {
  font-size: 0.9375rem;
  margin-top: 1.25em;
  font-weight: 400;
  color: #735d72;
}

.footer-green-text {
  color: #a1d1ca;
  font-weight: 900;
  font-size: 1.125rem;
}

.footer-contact-info {
  margin-top: 3rem;
}

.footer-email-div {
  margin-top: 0.6875rem;
}

.footer-divider {
  display: block;
  height: 140px;
  background: #838383;
  width: 2px;
  border: none;
}

.footer-email-span,
.footer-social-media-item {
  display: inline-block;
  margin-left: 0.59375rem;
  vertical-align: middle;
}

.footer-social-media-item {
  color: #fff;
}

.footer-social-media-item::before {
  font-size: 22px;
}

.footer-email-span {
  font-size: 1rem;
  font-weight: 900;
}

#footer-newsletter-form {
  width: 312px;
}

#footer-newsletter-form .contact-input {
  color: #fff;
  background: rgba(255,255,255,0.5);
  font-size: 1.0625rem;
  margin-top: 0.882352941176471em;
}

#footer-newsletter-form .contact-input:-ms-input-placeholder {
  color: #fff;
}

#footer-newsletter-form .contact-input::placeholder {
  color: #fff;
}

#footer-newsletter-form .button-wrapper {
  text-align: right;
  margin-top: 1.375rem;
}

#footer-newsletter-form .indots-button {
  font-size: 1rem;
  padding: 1.0625em 1.4375em;
}

.footer-newsletter-title {
  font-size: 1.125rem;
}

@media screen and (max-width: 767px) {
  .footer-left-column,
  .footer-right-column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }

  .footer-section-links-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer-icons-container {
    -ms-flex-direction: row;
        flex-direction: row;
  }

  .footer-icons-container .footer-link-anchor {
    margin: 0 10px;
  }

  .footer-right-column {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  #footer-newsletter-form {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  #footer-newsletter-form .button-wrapper {
    text-align: center;
  }

  .footer-divider {
    width: 60%;
    height: 1px;
    margin: 3.125rem auto;
  }

  .footer-column-content {
    margin-right: 0;
  }
}