input[type="submit"]{
  font-size: 1rem;
  padding: 1.0625em 1.4375em;
  background: #7bbaaf;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  border: none;
  line-height: 1;
}
.aside-newsletter-title{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  color: #575656;
  margin: 0 0 15px 0;
}
aside.widget-area .input_text input, aside .input_text input::placeholder{
  color: #9b9b9b !important;
}
aside.widget-area button.indots-button{
  margin: 20px 0 40px 0 !important;
}
main.site-main, aside.widget-area, .widget-title, .entry-content, h3{

}
.site-content-wrapper .widget-area a:not(:hover){
  text-decoration: underline;
  color: #9b9b9b;
  font-family: 'Cabin';
}
.entry-content, .entry-footer{
  color: #9b9b9b;
}
.entry-content{
  font-size: 15px;
  line-height: 1.33;
}
.entry-content a.read-more{
  font-size: 16px;
  color: #7bbaaf;
  text-decoration: underline;
  font-weight: 700;
}
.blog .content-area .hentry{
  padding-top: 0;
}
.site-content-wrapper .widget-area{
  padding-top: 1.75rem;
}
.blog-title{
  text-align: center;
  font-size: 2.25rem !important;
  color: #a7d4ce;
  margin-top: 3.75rem;
  width: 100%;
}
input[class='sendNewsletter'] {
  font-size:18px;
  margin: 11px 0px 0px 0px !important;
  display:block;
  width:100%;
  border:none;
  padding-top: 16px;
  border-bottom:1px solid #e5e5e5;
}
input[class='sendNewsletter']:focus 		{ outline:none; }

/* LABEL ======================================= */
label[class='onlyNewsletter'] 				 {
  color:#9b9b9b;
  font-size: 17px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  margin-left: -6px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

textarea:focus ~ label.custom-top, textarea:valid ~ label.custom-top{
  top:-10px !important;
}
input[class='sendNewsletter']:focus ~ label, input[class='sendNewsletter']:valid ~ label, textarea:focus ~ label, textarea:valid ~ label{
  top:-10px;
  font-size:14px;
  color:#a7d4ce;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#a7d4ce;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after,textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}
textarea {
  resize: none;
}
/* active state */
input:focus ~ .highlight, textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#a7d4ce; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#a7d4ce; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#a7d4ce; }
  to 	{ width:0; background:transparent; }
}

/*FLASH ICON*/
.flash-indots:before {
  height: .8125rem;
  width: .7rem;
  margin-top: -.125rem;
  margin-right: -3px;
  content: ' ';
  background-image: url(../img/icons/flash-icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

span[for="navbar-trigger"] {
  display: none;
}
.phone {
  background: #F7C42A !important;
  height: 100%;
  vertical-align: middle;
  color: #fff !important;
  font-size: 18.5px !important;
  padding: 0 11.5px;
  width: 400px;
}
.hiddeOnWeb, #imgMenu {
  display: none !important;
}
.phone-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone i {
  font-size: 35px;
  margin-right: 5px;
}
.header-navbar {
  background: white;
  position: fixed;
  width: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  height: 78px;
  border-bottom:1px solid rgba(74,74,74,0.2);
}
.header-navbar-pay {
  font-size: 22px;
  color: #fff;
}
.header-navbar-white {
  background-color: #fff;
}
.header-navbar-logo {
  width: 173px;
  vertical-align: middle;
}
.entry-title > a{
  color: #a7d4ce !important;
}

.entry-title > a:hover{
  color: #a7d4ce !important;
}
.entry-header  {
  height: 257px !important;
}

.entry-header-wrapper {
  padding-left: 0 !important;
  padding-top: 0px !important;
}
.header-navbar-list {
  display: inline-block;
  height: 77px;
  list-style: none;
  padding: 0;
  margin: 0 !important;
  width: 100%;
  display: flex;
  background: #fff;
  justify-content: flex-end;
}
.header-navbar-list-item {
  display: inline-block;
  padding-right: 14px;
  padding-left: 14px;
  margin-top: -0.1em;
  margin-left: 5px;
  font-size: 17px;
  line-height: 80px;
  vertical-align: middle;
}
.select,
.header-navbar-list-item:hover{
  border-bottom: 4px solid #a7d4ce;
}
.header-navbar-list-item-white {
  background-color: #fff;
}
.header-navbar-list-item:first-child {
  display: inline-block !important;
}
.header-navbar-list-item-link,
.header-navbar-list-item-link:active,
.header-navbar-list-item-link:hover,
.header-navbar-list-item-link:focus {
  color: #4a4a4a;
}
.header-navbar-list-item-link-active {
  color: white !important;
}
#navbar-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

@media screen and (max-width: 1100px) {
  .blog .content-area .hentry{
    padding-top: 1.5em;
  }
  .blog-title{
    margin-top: 1.75rem;
  }
  span[for="navbar-trigger"] {
    display: inline-block;
    transition: color 0.3s;
    position: absolute !important;
    right: 0 !important;
    top: 50% !important;
    transform: translateY(-50%);
    height: 100%;
    width: 20%;
  }
  span[for="navbar-trigger"]:hover {
    color: $orange;
  }
  #hamburgerMenu {
    -webkit-animation-duration: 0.2s;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
  }
  .header-navbar-list-item-link,
  .header-navbar-list-item-link:active,
  .header-navbar-list-item-link:hover,
  .header-navbar-list-item-link:focus {
    color: #fff;
  }
  span[for="navbar-trigger"]::before {
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 1.35rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    color: #a7d4ce;
  }
  .select {
    border-bottom: none !important;
    border-left:  4px solid #fff;
  }
  .centerLogo {
    position: relative !important;
    left: 0;
    right: 0;
    width: initial;
    top: 0px;
  }
  .menu-align {
    padding-right: 45px;
  }
  #imgMenu{
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }
  .img-blog-menu {
    width: 200px;
  }
  .hiddeOnMobil {
    display: none !important;
  }
  .header-navbar {
    height: 56px;
    padding: 0 1.1rem;
  }
  .logo {
    width: initial;
  }
  .header-navbar-logo {
    height: auto;
    max-width: none;
    border: none;
    margin-top: -5px;
    border: none;
    width: 100px;
  }
  .header-navbar-list {
    display: block;
    height: 100vh;
    position: absolute;
    top: 0px;
    width: 75%;
    right: -75%;
    background: #a7d4ce;
    text-align: left;
  }
  .open-hamburgerMenu{
    right: 0;
    box-shadow: 0 0 10px #4a4a4a;
    -webkit-animation-duration: 0.2s;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
  }
  .showMovil {
    display: block !important;
  }
  .header-navbar-list-item {
    height: auto;
    margin-left: 0 !important;
    display: block !important;
    font-size: 0.7rem!important;
    line-height: 1;
    overflow: hidden;
    width: 100%;
    padding: 1.2em 2.8em;
    /*font-family:'Montserrat Light';*/
  }
  .header-navbar-list .phone {
    background: $yellow;
  }
  .entry-header-wrapper {
    margin-left: 0px !important;
  }
  .header-navbar-list .phone i{
    font-size: 28px;
  }
  #navbar-trigger:checked ~ ul li {
    height: 30px;
  }
  #navbar-trigger:checked + label {
    color: $orange;
  }
  #navbar-trigger:not(:checked) + label {
    color: #333;
  }
  .site-content-wrapper .widget-area  {
    border-top: none !important;
  }
}

.site-navbar {
  background-color: #fff;
  border-bottom: solid 1px #e5e5e5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 94px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  padding: 0 36px;
  transition: 0.3s background ease;
}
.diamond {
  width: 10px;
  height: 10px;
  background: #a7d4ce;
  -webkit-transform: rotate(135deg) skew(15deg, 15deg);
  -moz-transform: rotate(135deg) skew(15deg, 15deg);
  -ms-transform: rotate(135deg) skew(15deg, 15deg);
  -o-transform: rotate(135deg) skew(15deg, 15deg);
  left: 0;
  margin: 10px auto 0 auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: -30px;
  transition: all 0.3s;
  transform: rotate(135deg) skew(15deg, 15deg);
}
a:hover .diamond {
  opacity: 1;
  transition: all 0.3s;
}
.show-diamond {
  opacity: 1;
}
.menu-link {
  color: #434343;
  font-size: 0.8125rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s;
}
.menu-link span {
  font-weight: 600;
  transition: all 0.3s;
}
.menu-link.link-active {
  color: #a7d4ce;
  font-weight: 900;
}
.menu-link span:hover {
  color: #a7d4ce;
  font-weight: 900;
  transition: all 0.3s;
}
.site-navbar__mobile-logo-container {
  display: none;
}
.site-navbar__desktop-logo-container img {
  height: 43px;
  width: 135px;
}
.site-navbar__menu-container {
  -ms-flex-positive: 1;
      flex-grow: 1;
  text-align: right;
  height: 100%;
}
.site-navbar__menu {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.site-navbar__menu-link {
  color: #434343;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  cursor: pointer;
  margin-left: 25px;
}
.site-navbar__menu-link:last-child {
  margin-right: 0;
}
@media screen and (max-width: 876px) {
  .site-navbar {
    -ms-flex-pack: justify;
        justify-content: space-between;
    height: 56px;
    padding: 0 18px;
  }
  .site-navbar__desktop-logo-container img {
    height: 1.25rem;
    width: auto;
  }
  .site-navbar__mobile-logo-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .site-navbar__mobile-logo-container img {
    width: 100%;
  }
  .site-navbar__menu-container {
    background: #fff;
    height: 100vh;
    margin-right: 0;
    overflow-y: auto;
    position: fixed;
    right: -280px;
    top: 0;
    transition: right 0.2s;
    width: 280px;
    padding-top: 25px;
  }
  .site-navbar__menu {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: left;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .site-navbar__menu-link {
    display: block;
    height: auto;
    display: block;
    text-align: left;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .navbar-hamburguer-visibilit {
    display: none;
  }
}
@media screen and (max-width: 876px) {
  .site-navbar__desktop-logo-container .navbar-logo-mobile {
    height: 32px;
    width: 100px;
  }
  .site-navbar__desktop-logo-container {
    height: 32px;
    width: 100px;
  }
  .navbar-hamburguer-visibilit {
    display: block;
  }
  .navbar-hamburguer {
    width: 33px;
    height: 33px;
    border-radius: 3px;
    background-color: #a1d1ca;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .align-content-hamburguer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .line-hamburguer-base {
    height: 1px;
    background-color: #fff;
  }
  .line-hamburguer-lg {
    width: 15px;
  }
  .line-hamburguer-md {
    width: 7.5px;
  }
  .margin-vertical-4px {
    margin: 4px 0px;
  }
}
.hamburger-menu-container {
  display: none;
}
@media screen and (max-width: 876px) {
  .hamburger-menu-container {
    background-color: #a1d1ca;
    display: inline;
    padding-bottom: 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 0%;
    z-index: 13;
    bottom: 0;
    overflow: scroll;
    transition: width 0.5s;
  }
  .hamburger-menu-header {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 22px 36px;
  }
  .hamburger-menu-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-left: 36px;
  }
  .hamburger-logo {
    height: 33px;
    width: 102px;
  }
  .hamburger-close-container {
    cursor: pointer;
  }
  .hamburger-close {
    height: 16px;
    width: 16px;
  }
  .hamburger-link-container {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    margin-bottom: 30px;
  }
  .hamburger-menu-link {
    color: #fff;
    cursor: pointer;
    font-size: 0.75rem;
    letter-spacing: 1.4px;
    margin: 5px 0;
    padding: 10px 0;
    text-transform: uppercase;
  }
  .hamburger-text {
    padding: 10px 0;
  }
  .link-active-mobile span {
    color: #735d72;
    font-weight: 900;
  }
  .hamburger-text:hover {
    color: #735d72;
    font-weight: 900;
  }
}
@media screen and (max-width: 1117px) {
  .site-navbar__menu-link {
    font-size: 0.6875rem;
  }
  .site-navbar__desktop-logo-container img {
    width: 8rem;
  }
}
